body {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #e3f2fd, #d1c4e9, #cfd8dc);

  #root{
    height: 100%;
    width: 100%;
    position: relative;
  }

}